.btn{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;

}
.exam-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;    
    
}

.exam-card {
    width: 300px;
    text-align: center;
    border: #007bff31 solid 5px;
    padding: 20px;
    border-radius: 20px;
}

.exam-icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #0056b3;
    justify-content: center;
}

.exam-card .p-card-title {
    font-size: 1.2em;
    font-weight: bold;
}


.exam-card .p-card-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.card-description{
    color: rgb(59, 59, 59);
}

.examstart-btn{
    margin: 20px 0px 20px 0px;
}
.examid-input-fld{
    padding: 0.5rem 0.5rem;
    margin: 20px 5px 20px 0px;
    border-radius: 4px;
}
.findexambtn{
    padding: 0.5rem 0.5rem;

}
.exam-id-input{
    background-color: black;
    border: none;

}
.error-message{
    color: red;
}
.card-title{
    color: rgb(59, 59, 59);
}
.p-carousel-prev, .p-carousel-next{
    position: absolute;
    top:0;
    bottom: 0;
    z-index: 99;
}
.p-carousel-prev{
    left: 0;
}
.p-carousel-next{
    right: 0;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .exam-cards {
        flex-direction: column;
        align-items: center;
        padding-bottom: 200px;
    }
    
    .exam-card {
        width: 100%; /* Make each card take full width */
        max-width: 400px; 
    }
}

@media (max-width: 320px) {
    .examstart-btn{
        margin: 0px 0px 20px 0px;

    }

  }
